* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'raleway', sans-serif;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1.5em;
}

/*Header Elements --------------------------------------------------------------------*/

#header {
    height: 12%;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#nameAndLogo {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7em;
    font-size: 2em;
}

#nameAndLogo > ion-icon {
    font-size: 1.7em;
}

#nameAndLogo > p {
    font-weight: 600;
}

#navBar {
    flex: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1em;
}

#navBar > menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

#navBar > menu > li {
    list-style: none;
    position: relative;
}

#navBar > menu > li > a {
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 550;
    color: black;
}

#navBar > menu > li > a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform: scaleX(0);
    transform-origin: top left;
    transition: transform 300ms ease-in;
}

#navBar > menu > li > a:hover::before {
    transform: scaleX(1);
}

#socialLinks {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3em;
    gap: 2em;
}

#instagram, #twitter, #dropdownMenu {
    text-decoration: none;
    color: #6E6E73;
    transition: 300ms ease-in;
}

#instagram:hover, #twitter:hover, #dropdownMenu:hover {
    color: black;
    transition: 300ms ease-in;
}

#instagram > ion-icon, #twitter > ion-icon {
    font-size: 2em;
    margin: 0%;
}

#dropdownMenu > ion-icon {
    font-size: 2.5em;
    margin: 0%;
    display: none;
}


/*------------------------------------------------------------------------------------*/

/*Home Page CSS ----------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------*/

/*Footer Style -----------------------------------------------------------------------*/

#footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

/*------------------------------------------------------------------------------------*/

/*Media Queries -> 1968px ------------------------------------------------------------*/

@media screen and (max-width: 1968px) {
    #productImages {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
    }
}

/*------------------------------------------------------------------------------------*/

/*Media Queries -> 1540px ------------------------------------------------------------*/

@media screen and (max-width: 1540px) {
    #nameAndLogo {
        font-size: 1.6em;
    }

    #navBar > menu {
        gap: 2.5em;
    }

    #navBar > menu > li > a {
        font-size: 1.1em;
    }

    #instagram > ion-icon, #twitter > ion-icon {
        font-size: 1.5em;
    }
}

/*------------------------------------------------------------------------------------*/

/*Media Queries -> 1440px ------------------------------------------------------------*/

@media screen and (max-width: 1440px) {
    #main {
        height: 65%;
    }

    #steve1 {
        left: -36%;
    }

    #steve2 {
        right: -39%;
    }
}

/*------------------------------------------------------------------------------------*/

/*Media Queries -> 1256px ----------------------------------------------------------- */

@media screen and (max-width: 1256px) {
    #nameAndLogo {
        font-size: 1.2em;
    }

    #navBar > menu {
        gap: 1.5em;
    }

    #navBar > menu > li > a {
        font-size: .9em;
    }

    #instagram > ion-icon, #twitter > ion-icon {
        font-size: 1.2em;
    }
}

/*------------------------------------------------------------------------------------*/

/*Media Queries -> 1240px ------------------------------------------------------------*/

@media  screen and (max-width: 1240px) {
    #productImages {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding: 0%;
    }

    .piCompImage > img {
        height: 180px;
        width: 270px;
    }
}

/*------------------------------------------------------------------------------------*/

/*Media Queries -> 1024px ------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
    #main {
        height: 55%;
    }

    #main > p {
        font-size: 1.1em;
    }

    #steve1 {
        height: 300px;
    }

    #steve2 {
        height: 270px;
    }
}

/*------------------------------------------------------------------------------------*/

/*Media Queries -> 972px -------------------------------------------------------------*/

@media screen and (max-width: 972px) {
    #navBar {
        display: none;
    }

    #socialLinks {
        gap: 1em;
        padding-right: 1.5em;
    }

    #dropdownMenu > ion-icon{
        display: block;
        font-size: 1.7em;
    }

    #nameAndLogo {
        flex: 1.7;
        justify-content: flex-end;
    }

    .piCompImage > img {
        height: 140px;
        width: 210px;
    }

    #footer {
        margin-top: 2em;
    }
}

/*------------------------------------------------------------------------------------*/

/*Media Queries -> 768px -------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    #main > p {
        font-size: 0.9rem;
    }

    #steve1 {
        height: 235px;
    }

    #steve2 {
        height: 205px;
    }
}

/*------------------------------------------------------------------------------------*/

/*Media Queries -> 500px -------------------------------------------------------------*/

@media  screen and (max-width: 500px) {
    #instagram, #twitter {
        display: none;
    }

    #nameAndLogo {
        flex: 3.5;
    }

    #dropdownMenu > ion-icon {
        font-size: 2em;
    }

    #main {
        height: 65%;
        width: 80%;
        padding-top: 5em;
        padding-bottom: 4em;
        border: none;
        border-left: 1px solid black;
        border-right: 1px solid black;
    }

    #steve1 {
        height: 170px;
        top: -20%;
        left: -13%;
    }

    #steve2 {
        overflow: hidden;
        height: 170px;
        bottom: -11%;
        right: -26%;
    }
}

/*------------------------------------------------------------------------------------*/

/*Media Queries -> 352px -------------------------------------------------------------*/

@media screen and (max-width: 352px) {
    #socialLinks {
        display: none;
    }

    #nameAndLogo {
        justify-content: center;
    }
}

/*------------------------------------------------------------------------------------*/